*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

header, .sidebar, .child-one, .child-two, .child-three, .child-four{
    background-color: rgb(198, 226, 198);
    color: black;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.logo{
    border: none;
    border-radius: 5px;
    padding: 5px;
    letter-spacing: 10px;
    font-size: 30px;
    cursor: default;
}

.sidebar{
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 2%;
    width: 200px;
    height: 50%;
    border: none;
    border-radius: 10px;
}

.sidebar h2{
    padding: 30px;
}

.sidebar li{
    margin-bottom: 30px;
}

.sidebar button{
    width: 150px;
    height: 50px;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    color: black;
}

.sidebar button:hover{
    background-color: rgb(141, 168, 192);
    cursor: pointer;
}

.sidebar i{
    padding: 5px;
}

.parent-one{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.parent-one div{
    margin-top: 50px;
    width: 50%;
    min-height: 100px;
    border: none;
    border-radius: 15px;
}

.parent-one h4{
    font-size: 25px;
    font-weight: normal;
}

.parent-one p{
    padding: 5px;
}

@media screen and (max-width:950px){
    body{
        overflow-x: hidden;
    }

    .sidebar{
        align-items: center;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        top: 10px;
        left: 0%;
        width: 100%;
        border: none;
        border-radius: 0px;
    }

    .sidebar ul{
        display: flex;
        flex-direction: row;
    }

    .sidebar li{
        position: relative;
        top: 15px;
        padding-right: 10px;
    }

    .sidebar button{
        width: 100px;
    }

    .parent-one div{
        width: 80%;
    }

}
